:host {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.parent-container {
  background: #003040;
  border: .05em solid #0f484c;
  border-radius: .51em;
  padding: .5em;
  margin: .1em;
  width: 10em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  &.no-children {
      background: #1b2c34;
    pointer-events: none;

    > .children-indicator {
      display: none;
    }
  }

  &:hover {
    background: #095457;
  }


  > .entity-info {
    flex: 1;

    > .entity-date {
      margin-left: .5em;
      padding: .3em;
      border-radius: .5em;
      //background: #0b2124;
      //border: .1em solid #0f484c;
    }
  }

  > .children-indicator {
    font-size: 1em;
    user-select: none;


    &.opened {
      transform: rotate(-270deg);
    }
  }
}


.children-container {
  display: inline-block;
  margin-left: 2em;
}
