<div class="parent-container"
     [class.no-children]="!children.length"
     (click)="onParentClick()">
  <div class="entity-info"
       *ngIf="entity">
    <span class="entity-id">{{entity.id}}.</span>
    <span class="entity-date">{{entity.date | date}}</span>
  </div>
  <div class="children-indicator"
       [class.opened]="shouldShowChildren">
    >
  </div>
</div>

<div class="children-container"
     *ngIf="shouldShowChildren">
  <app-entity *ngFor="let child of children"
              [entity]="child"></app-entity>
</div>
